table{
  border-collapse:collapse;
}
td, th {
  border: 3px solid #063970;
  border-radius: 4px;
  padding: 0.5rem;
  text-align: center;
}
th{
  background-color: #063970;
}
.expiredRow{
  color:#d62828;
  background-color: white;
}
.expiredFlightBtn{
    color:maroon;
}
#delete-btn{
  background-color:#d62828;
  color: white;
}

a{
  color:white;
}
a:visited{
  color: #90EE90;
}