form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  font-size: x-large;
}
select{
  font-size: large;
}
#add-flight{
  display: grid;
  align-items: center;
  margin-top: 40px;

  background-color:maroon;
  color: white;
  width: 200px;
  height: 50px;
  padding: auto;
  font-size: large;
  }
  #add-flight:hover {
    color:whitesmoke;
    background-color:black;
  }