ul {
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
}

li {
  font-weight: bold;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

form * {
  padding: 5px;
  border-radius: 5px;
}

section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  margin-left: 500px;
}

section div:nth-child(even) {
  font-weight: bolder;
}
#edit-button{
display: grid;
align-items: center;
background-color:maroon;
color: white;
padding: auto;
font-size: large;
  
}
#edit-button:hover {
  color:whitesmoke;
  background-color:black;
}
#add-your-meal{
  background-color: maroon;
  color:white;
}
#add-your-meal:hover{
  background-color: black;
}
#ticket-btn{
  background-color: maroon;
  color: white;
}
#ticket-btn:hover{
  background-color: black;
}